.cell {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #52658F;
    font-size: 1em; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }